/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

p {
  text-align: justify;
}

body {
  background: url('Background1.jpg') no-repeat center center fixed;
  background-size: cover;
}

header, footer {
  background-color: #111;
  color: white;
}

header {
  padding: 20px;
  text-align: center;
  position: relative;
}

footer {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 0.9em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.1em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

.intro-text {
  font-size: 1.2em;
  margin-top: 10px;
  text-align: center;
}

/* Biography Section */
.biography-section {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 40px 20px;
  background-color: rgba(230, 230, 230, 0.8);
  gap: 40px;
}

.bio-photo img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.bio-text {
  max-width: 600px;
}

.bio-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #111;
}

.bio-text p {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #555;
}

/* Main Content */
.content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 40px 20px;
}

/* Website Link Section with Icon */
.website-link {
  max-width: 40%;
  text-align: center;
}

.website-link i {
  color: #333;
  margin-bottom: 20px;
}

.website-link button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  border: 2px solid #333;
  cursor: pointer;
  text-transform: uppercase;
}

.website-link button:hover {
  background-color: #555;
}

/* Download Buttons */
.download-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  right: 0;
}

.download-buttons button {
  background-color: #111;
  color: white;
  font-size: 1.2em;
  padding: 15px 30px;
  border: 2px solid #333;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.download-buttons button:hover {
  background-color: #555;
}

.footer-text {
  text-align: center;
}
